@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300&display=swap');

/* BASE CSS */
:root {
    --font: 'Lato', sans-serif;
    --primary-color: #333;
    --secondary-color: #fff;
    --primary-background: #047aed;
    --secondary-background: #1c3fa8;
    --tertiary-background: #fff;
    --dark-background: #002240;
    --light-background: #f4f4f4;

    --success-background: #5cb85c;
    --error-background: #d95e4f;
}

*,
*::before,
*::after {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    font-family: var(--font);
    color: var(--primary-color);
    line-height: 1.6;
}

ul {
    list-style-type: none;
}

a {
    text-decoration: none;
    color: inherit;
}

h1,
h2 {
    font-weight: 300;
    line-height: 1.2;
    margin: 0.625em 0; /* 10 px */
}

p {
    margin: 0.625em 0; /* 10 px */
}

img {
    width: 100%; /* TEST LATER !! */
}

code,
pre {
    background-color: #333;
    color: var(--secondary-color);
    padding: 0.625em;
}

/* NAVBAR STYLES */
.navbar {
    background-color: var(--primary-background);
    color: var(--secondary-color);
    /* height: 4.375em; 70 pixels */
}

.navbar .flex {
    justify-content: space-between;
}

.navbar ul {
    display: flex;
}

.navbar a {
    padding: 0.625em; /* 10px */
    margin: 0 0.3em; /* ~5px */
}

.navbar a:hover {
    border-bottom: 2px #fff solid;
}

/* SHOWCASE STYLES */
.showcase {
    background-color: var(--primary-background);
    height: 25em; /* 400px */
    color: var(--secondary-color);
    position: relative; /* to absolute position ::before & ::after */
}

.showcase h1 {
    font-size: 2.5em; /* 40px */
}

.showcase p {
    margin: 1.25em 0; /* 20xp */
}

.showcase .grid {
    grid-template-columns: 55% 45%;
    gap: 1.875em; /* 30px */
    overflow: visible;
}

.showcase__text {
    animation: slideInFromLeft 1s ease-in;
}

.showcase__form {
    position: relative;
    top: 3.75em; /* 60 px*/
    height: 21.875em; /* 350px */
    width: 25em; /* 400px */
    padding: 2.5em; /* 40px on top of card */
    z-index: 100;
    justify-self: flex-end; /* ??? */
    /* makes the card no pop out of showcase. Investigate more */
    animation: slideInFromRight 1s ease-in;
}

.showcase__form .showcase__form__control {
    margin: 1.875em 0; /* 30px */
}

.showcase__form input[type='text'],
.showcase__form input[type='email'] {
    border: none;
    border-bottom: 1px solid #b4becb;
    width: 100%;
    padding: 0.188em; /* 3px */
    font-size: 1em; /* 16px */
}

.showcase__form input:focus {
    outline: none;
}

.showcase::before,
.showcase::after {
    content: '';
    position: absolute;
    height: 6.25em; /* 100px */
    bottom: -4.375em; /* -70px */
    right: 0;
    left: 0;
    background-color: var(--tertiary-background);
    transform: skewY(-3deg);
    -webkit-transform: skewY(-3deg);
    -moz-transform: skewY(-3deg);
    -ms-transform: skewY(-3deg);
}

/* STATS STYLES */
.stats {
    padding-top: 6.25em; /* 100px */
    animation: slideInFromBottom 1s ease-in;
}

.grid_3 {
    grid-template-columns: repeat(3, 1fr);
}

.stats__heading {
    max-width: 31.25em; /* 500px */
    margin: auto;
}

.stats .grid h3 {
    font-size: 2.188em; /* 35px */
}

.stats .grid p {
    font-size: 1.25em; /* 20px */
    font-weight: bold;
}

/* CLI */
.cli .grid {
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
}

.cli .grid > *:first-child {
    grid-column: 1 / span 2;
    grid-row: 1 / span 2;
}

/* CLOUD  */
.cloud .grid {
    grid-template-columns: 4fr 3fr;
}

/* Languages */
.languages .flex {
    flex-wrap: wrap;
}

.languages .card {
    text-align: center;
    margin: 1.125em 0.625em 2.5em; /* 18px 10px 40px*/
    transition: transform 0.2s ease-in;
}

.languages .card h4 {
    font-size: 1.25em; /* 20px */
    margin-bottom: 0.625em; /* 10px */
}

.languages .card:hover {
    transform: translateY(-15px);
}

/* FEATURES */
.features-head img,
.docs-head img {
    width: 12.5em; /* 200px */
    justify-self: flex-end;
}

.features-sub-head img {
    width: 18.75em; /* 300px */
    justify-self: flex-end;
}

/* MAIN */
.features-main .card > i {
    margin-right: 1.25rem; /* 20px */
}

.features-main .grid {
    padding: 1.875em; /* 30px */
}

.features-main .grid > *:first-child {
    grid-column: 1 / span 3;
}

.features-main .grid > *:nth-child(2) {
    grid-column: 1 / span 2;
}

/* DOCS */
.docs-main h3 {
    margin: 1.25em 0;
}

.docs-main .grid {
    grid-template-columns: 1fr 2fr;
    align-items: flex-start;
}

.docs-main nav li {
    font-size: 1em;
    padding-bottom: 0.313em;
    margin-bottom: 0.313em;
    border-bottom: 1px #ccc solid;
}

.docs-main a:hover {
    font-weight: bold;
}

/* FOOTER */
.footer .social a {
    margin: 0 0.625em;
}

/* ANIMATIONS */
@keyframes slideInFromLeft {
    0% {
        transform: translateX(-100%);
    }

    100% {
        transform: translateX(0);
    }
}

@keyframes slideInFromRight {
    0% {
        transform: translateX(100%);
    }

    100% {
        transform: translateX(0);
    }
}

@keyframes slideInFromTop {
    0% {
        transform: translateY(-100%);
    }

    100% {
        transform: translateX(0);
    }
}

@keyframes slideInFromBottom {
    0% {
        transform: translatey(100%);
    }

    100% {
        transform: translatex(0);
    }
}

/* Tablets and Under */
@media (max-width: 768px) {
    .grid,
    .showcase .grid,
    .stats .grid,
    .cli .grid,
    .cloud .grid,
    .features-main .grid,
    .docs-main .grid {
        grid-template-columns: 1fr;
        grid-template-rows: 1fr;
    }

    .showcase {
        height: auto;
    }

    .showcase__text {
        text-align: center;
        margin-top: 2.5em; /* 40px */
        animation: slideInFromTop 1s ease-in;
    }

    .showcase__form {
        justify-self: center;
        margin: auto;
        animation: slideInFromBottom 1s ease-in;
    }

    .cli .grid > *:first-child {
        grid-column: 1;
        grid-row: 1;
    }

    /* features */
    .features-head,
    .features-sub-head,
    .docs-head {
        text-align: center;
    }

    .features-head img,
    .features-sub-head img,
    .docs-head img {
        justify-self: center;
    }

    .features-main .grid > *:first-child,
    .features-main .grid > *:nth-child(2) {
        grid-column: 1;
    }
}

/* Mobile */
@media (max-width: 500px) {
    /* .navbar {
        /* height: 110px; unnecessary 
    } */

    .navbar .flex {
        flex-direction: column;
    }

    .navbar ul {
        padding: 0.625em;
        background-color: rgba(0, 0, 0, 0.1);
    }
}
